<form id="change-password" >
  <fieldset>
    <legend>Change Password</legend>
    <input type="password" name="passwords[old]" placeholder="Old Password"><br/>
    <input type="password" name="passwords[new]" placeholder="New Password"><br/>
    <input type="submit" name="submit" value="Change Password">
  </fieldset>
</form>
<form id="sign-out">
  <fieldset>
    <legend>Sign Out</legend>
    <input type="submit" name="submit" value="Sign Out">
  </fieldset>
</form>

<form id="create-chore">
  <fieldset>
    <legend>
      Add a Chore
    </legend>
    <input type="text" name="chore[chore_name]" placeholder="Name"/><br/>
    <input type="number" name="chore[chore_interval]" placeholder="Interval (In Days)"/><br/>
    <input type="date" name="chore[last_done]" placeholder="Last Done"/><br/>
    <input type="text" name="chore[over_due]" placeholder="Over due"/><br/>
    <button type="submit">Add</button>
  </fieldset>
</form>
<form id="update-chore">
  <fieldset>
    <legend>
      Update a Chore
    </legend>
    <input type="text" name="chore[id]" placeholder="Chore ID"/><br/>
    <input type="text" name="chore[chore_name]" placeholder="Name"/><br/>
    <input type="number" name="chore[chore_interval]" placeholder="Interval (In Days)"/><br/>
    <input type="date" name="chore[last_done]" placeholder="Last Done"/><br/>
    <input type="text" name="chore[over_due]" placeholder="Over due"/><br/>
    <button type="submit">Update</button>
  </fieldset>
</form>
