$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#app-hud {
  height: 30px;
}

aside {
  float: left;
  width: 40%;
}

form {
  margin: 25px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

main {
  float: left;
  width: 50%;
}

#show-chores {
  margin-left: 30px;
}
