$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

app-hud {
  height: 30px;
}

aside {
  float: left;
  width: 40%;
}

form {
  margin: 30px;
}

main {
  float: left;
  width: 50%;
}

#show-chores {
  margin-left: 30px;
}
