$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Kanit:400,600|Lato:300,400');

// ---   GOOGLE FONT PAIRING   ---
// font-family: 'Kanit', sans-serif;
// font-family: 'Lato', sans-serif;


// app colors declared as varaibles
$sourapple: #0bc44c;
$kahki: #bec5ad;
$sand: #a4b494;
$azure: #0e3a53;
$watermelon: #fc20a4;

#app-hud {
  font-weight: 400;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}

aside {
  float: left;
  width: 40%;
}

body {
  color: $azure;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

form {
  margin: 25px;

  button {
    background: $sourapple;
    border: 0px;
    box-shadow: 1px 1px 2px #555;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    padding: 4px 8px;
  }
}

input {
  border: 1px $azure solid;
  margin: 4px;
  padding: 2px 6px;

  &[type='submit'] {
    background: $sourapple;
    border: 0px;
    box-shadow: 1px 1px 2px #555;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    padding: 4px 8px;
  }
}

legend {
  border-bottom: 0px;
  color: $azure;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}

main {
  float: left;
  width: 50%;

  .btn-group {
    margin-left: 20px;
  }
}

nav {
  background: $sourapple;
  h1 {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 56px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }
}

.over-due {
  border: 1px solid $watermelon;
}

p {
  font-size: 26px;
}

#show-chores {
  margin-left: 30px;
}

.update-chore-form {
  font-size: 26px;
  left: -25px;
  position: relative;
  top: -12px;
  input {
    border: 0px;
    border-bottom: 1px solid $sand;
    font-size: 18px;
    padding: 0px 8px;
  }
  button {
    background-color: $kahki;
    width: 53%;

    &:hover{
      background-color: $sourapple;
    }
  }
}

.unselectable {
  user-select: none;
}

.visible {
  display: none;
}
